em,i {
    font-style: normal;
}
.spannel_list {
    margin-top: 20px;
}
.spannel {
    height: 100px;
    overflow: hidden;
    text-align: center;
    position: relative;
    border: 1px solid #e7e7e9;
    margin-bottom: 20px;
}
.spannel i{
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    background-color: #fff;
    margin: 10px 0 0 20px;
    color: #83a2ed;
}
.spannel span {
    display: inline-block;
    font-size: 14px;
    color: #83a2ed;
    margin-left: 10px;
}
.spannel em {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    background: #e5e5e5;
}
.main1,.main2 {
    background: #fff;
    height: 350px;
    border: 1px solid #e7e7e9;
    margin-bottom: 20px;
}
.column_show {
    background: #fff;
    height: 400px;
    border: 1px solid #e7e7e9;
    margin-bottom: 20px;
}